.modal {
    position:fixed;
    background: white;
    width: 30%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:black;
}
.header{
    padding: 1rem;
    height: 20%;
    border-bottom: solid 1px #ccc;
    font-weight: bolder;
    font-size: large;
}
.content {
    padding: 1rem;
}
.actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.2rem 1rem;
}
button {
    border: 0;
    background: #78f89f;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
}

.MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal.MuiFormControl-fullWidth{
    margin-top: 0px !important;
}